@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(54, 54, 54) 0%, rgb(15, 15, 15) 100%);
  background-repeat: no-repeat;
  font-family: 'Roboto', 'condensed';
  overflow: hidden;  
}

.slider_container {
    height: 100vh;
    display: inline-flex;
    transform: translateY(0);
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
    cursor: grab;
}

.slide {
    margin: 0 auto;
    padding: 6rem 0 2rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.slide .title {
    width: 100%;
    border-top: 1px solid #A2A2A2;
    border-bottom: 1px solid #A2A2A2;
    box-shadow: inset,'' 0 1px 0 #CFCFCF;
}

.slide h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: clamp(2rem, 3vw, 3rem); 
    background: linear-gradient(120deg, rgb(49, 49, 49), #b4b4b4, #9b9b9b, #ffffff, #000000);   
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: 700;
    text-transform: uppercase;
    transition: transform 1s ease;
    line-height: 2;
}

.slide h3 {
    margin: 1rem auto 0;
    text-align: center;
    font-size: clamp(2rem, 3vw, 2.5rem); 
    color: #fafafa;
    font-weight: 300;
    line-height: 1.4;
}

a {
    position: relative;
    margin: 50vh auto 0;
    padding: 1rem 2rem;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    font-size: clamp(2rem, 3vw, 2.5rem); 
    font-weight: 700;
    text-decoration: none;
    color: whitesmoke;
}

a:after {
    content: '';
    position: absolute;
    display: grid;
    place-content: center;
    background-color: #fafafa;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transition: height 0.2s ease-in-out, background .3s ease-out;
}

a:hover {    
    color: #121212;
}
a:hover:after {
    content: '';
    height: 100%;
    z-index: -1;
}

.img_container {
    position: relative;
    margin-top: 100px;
    width: 80%;
    object-fit: cover;
    object-position: center;
}

.slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    transform: transform 0.4s ease-in-out;
}

.grab {
    cursor: grabbing;
}

.grab .slide img {
    transform: scale(0.9);
}
.swipe {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
}

.swipe > svg {
    position: relative;
    width: 1.5rem; 
    height: 1.5rem;
    vertical-align: middle;
    fill: #fafafa;
    stroke: white;
    overflow: hidden;
    animation: swiper .3s ease 3s 10 alternate both;
}

@keyframes swiper {
    from {
        transform: translateX(0deg);
    } 
    to {
        transform: translateX(-5px);
    }
}

@media screen and (min-width: 768px) {
    
    .img_container {
        width: 50%;
        object-fit: cover;
        object-position: center;
    }

    .swipe > svg {
        width: 3rem; 
        height: 3rem;
    }

    .swipe {
        bottom: 3rem;
        right: 3rem;
    }
}

@media screen and (min-width: 1200px) {
    .slide {
        margin: 0 auto;
        padding: 5rem 2.5rem 2rem;
    }

    a {
        bottom: 5vh;
    }
    .img_container {
        width: 30%;
        object-fit: cover;
        object-position: center;
    }
}